body{
    background-color: #0081a7;
    color: #fdfcfc;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #fdfcfc;
}

.logo img{
    width: 150px;
    height: 150px;
}

.btn{
    display: flex
}

.github img{
    display: flex;
    margin-bottom: 1em;
    height: 45px;
    width: 100px;
    border-radius: 5%;
}